.icons {
    display: inline;
    margin: 5px 10px 5px 10px;
    color: rgb(255, 255, 255);
    height: 20px;
    align-self: center;
}
.navbar {
    background-color: rgb(69, 93, 246);
    position: fixed;
    bottom: 0;
    width: 100vw;
    overflow-x: scroll;
    max-width: 100vw;
}